body {
    font-family: Arial;
    text-align: center;
    margin-top: 30px;
}

.book {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}


/*ADDED NEW FEATURES IN CSS*/

#searchBook {
    width: 250px;
    padding: 8px;
    margin-bottom: 20px;
}

#bookName {
    width: 250px;
    padding: 8px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}